SERVICE_HOST=0.0.0.0
SERVICE_PORT=3001
SERVICE_TOKEN=90jrtire8i9u4353asdasdasd
APP_NAME=[FOSWLY] VOT Backend
APP_DESC=
APP_CONTACT_EMAIL=me@toil.cc
MEDIA_CONVERTER_HOSTNAME=http://localhost:3001
MEDIA_CONVERTER_TOKEN=x
TRANSLATE_TEXT_HOSTNAME=https://translate.toil.cc
VOT_WORKER_API_TOKEN=
POSTGRES_NAME=vot-backend
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=
REDIS_PREFIX=votb # Only for DB caching. BullMQ uses other prefix!
REDIS_TTL=7200 # Only for DB caching. BullMQ uses own impl
S3_REGION=ru-eu-central-1
S3_ENDPOINT=http://127.0.0.1:9000
S3_PRESIGNED_ENDPOINT=http://127.0.0.1:9000
S3_BUCKET=vot-backend
S3_ACCESS_KEY_ID=root
S3_SECRET_ACCESS_KEY=changeme
S3_FORCE_PATH_STYLE=false # enable it for minio
LOKI_HOST=http://127.0.0.1:3100
LOKI_USERNAME=
LOKI_PASSWORD=